extends layout

block content
  h1= "NeueWordle"
  div.status.js_status
    div.status__score.js_status__score
      span.status__score_value.js_status__score_value 123455
    div.status__time.js_status__time 
      span 3:00
  div.wordColumns.js_wordColumns
  div.tilesInitial.js_tilesInitial
    button.tilesInitial__tile.tilesInitial__tile-loaded d
    button.tilesInitial__tile.tilesInitial__tile-loaded r
    button.tilesInitial__tile.tilesInitial__tile
    button.tilesInitial__tile.tilesInitial__tile-loaded i
    button.tilesInitial__tile.tilesInitial__tile-loaded v
    button.tilesInitial__tile.tilesInitial__tile
    button.tilesInitial__tile.tilesInitial__tile
  div.tilesStaging.js_tilesStaging
    button.tilesStaging__tile.tilesStaging__tile-loaded e
    button.tilesStaging__tile.tilesStaging__tile-loaded r
    button.tilesStaging__tile.tilesStaging__tile
    button.tilesStaging__tile.tilesStaging__tile-loaded s
    button.tilesStaging__tile.tilesStaging__tile
    button.tilesStaging__tile.tilesStaging__tile
    button.tilesStaging__tile.tilesStaging__tile
  div.actions.js_actions
    button.actions__submit.js_actions__submit submit
    button.actions__reset.js_actions__reset reset
    button.actions__shuffle.js_actions__shuffle shuffle

